.category {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em auto;
}

.category form {
    width: 100%;
    margin-bottom: 2rem;
}

.category form label {
    display: block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.category form input,
.category form button {
    height: 35px;
    border: none;
    outline: none;
    border-bottom: 1px solid #555;
}
.category form input{
    flex: 1;
}
.category form button{
    width: 90px;
    background: #555;
    color: #fff;
    margin-left: 10px;
}

.category .category_row{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
margin-bottom: 1rem;
border: 1px solid #ccc;
cursor: pointer;
}

.create_ctg_btn img{
    color: white;
    max-width: 20px;
}