.home_page{
    width: 100%;
    margin: 1rem 0;
}

.home_page .blog-box{
    margin-bottom: 4rem;
    border-top: 6px solid rgb(243, 231, 188);
   
}

.home_page a {
    text-transform: uppercase;
    color:darkblue;
    letter-spacing: 1px;
    margin-top: 1rem;
    text-decoration: none;
    transition: all .3s;
}
.home_page a:hover{
    color:crimson
}

.baslik{
    gap:2rem;
    
}

.user_info_title{
    transform: translateY(13px);
}
.user_info_date{
    font-size: 14px;
}