.profile_info {
    background: #fff;
    width: 100%;
    border: 1px solid #ddd;
    padding: 2.5rem 1.7rem;
}

.profile_info .info_avatar {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.profile_info .info_avatar img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_info .info_avatar span {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    text-align: center;
    color: crimson;
    transition:all 0.4s ease;
    background: #fff5;
}
.profile_info .info_avatar span label{
    display: block;
    cursor: pointer;
}
.profile_info .info_avatar span input{
    display: none;
}
.profile_info .info_avatar:hover span{
    bottom: 0;
}

.current_p {
    padding-bottom: 3rem;
    border-bottom: 1px solid #eee;
    /* background: #ccc; */
    position: relative;
  }
  .current_p > small {
    position: absolute;
    right: 10px;
    top: 2.5rem;
    cursor: pointer;
  }
  .updadet_p {
    /* background: #eee; */
    position: relative;
  }
  .updadet_p .small_new,
  .updadet_p .small_conf {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 3.5rem;
  }
  .updadet_p .small_conf {
    top: 9rem;
  }
  
  .current_p input,
  .updadet_p input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
  .new_password_label {
    margin-top: 1rem;
  }
  .updadet_p .update_password {
    padding: 3px 10px;
    font-weight: bold;
    color: #333;
    border-radius: 3px;
  }